* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

a {
  display: inline-block;
}

.header-nav {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.logo {
  margin: 0;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  font-family: "Poppins", serif;
  color: white;
  margin: 0 15px;
  border: 1px solid transparent;
  transition: .3s;
}

.navbar a:hover {
  transform: scale(1.2);
}